@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --font-family: 'JetBrains Mono', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family) ;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

.p-component, .p-button {
    font-family: var(--font-family) !important;
}

